.search-form {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
    padding: 24px;
    gap: 8px;
    width: 100%;
}

input {
    width: 272px;
    max-height: 40px;
    border: 1px solid #808080;
    padding-left: 16px;
    padding-top: 8px;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2E2F42;
}

input:hover {
    border-color: #000000;
}

input:focus {
    border-color: #4e75ee;
}

.btn-form {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    width: 91px;
    height: 40px;
    border: none;
    border-radius: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
    background-color: #404BBF;
}